Description: Tag options for for service catalog products
AWSTemplateFormatVersion: 2010-09-09
Resources:
{% for name in sceptre_user_data.Departments %}
  {{ name.replace('.','').replace('-','').replace('_','') }}DepartmentTag:
    Type: AWS::ServiceCatalog::TagOption
    Properties:
      Active: true
      Key: "Department"
      Value: {{ name }}
{% endfor %}
{% for name in sceptre_user_data.Projects %}
  {{ name.replace('.','').replace('-','').replace('_','') }}ProjectTag:
    Type: AWS::ServiceCatalog::TagOption
    Properties:
      Active: true
      Key: "Project"
      Value: {{ name }}
{% endfor %}
{% for email in sceptre_user_data.OwnerEmails %}
  {{ email.split('@')[0].replace('.','').replace('-','').replace('_','') }}OwnerEmailTag:
    Type: AWS::ServiceCatalog::TagOption
    Properties:
      Active: true
      Key: "OwnerEmail"
      Value: {{ email }}
{% endfor %}
